body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-header {
    color: black;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    font-family: 'Inter';
    margin-bottom: 39px;
}

.form-description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #575757;
    text-align: start;
    margin-bottom: 40px;
}

#form-Major-Data {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;


}

.Expiry-CVC {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 631px;


}

.label-form {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #575757;

}

.input-form {
    display: block;
    background: #EEEEEE;
    border-radius: 10px;
    width: 609px;
    height: 66px;
    margin-bottom: 21px;
    border: none;
    box-shadow: 0 1px 0 0 #9563FF;
    padding-left: 20px;
    appearance: none;
}



.input-form-card {
    position: relative;
}


#imagemster {
    position: absolute;
    top: 40px;
    left: 5px;
    width: 45px;
    height: 30px;
    display: none;
}

.card {

    padding-left: 75px;
    width: 557px;
}

.dicount {
    position: relative;
}

#dicount-1 {
    position: absolute;
    bottom: 45px;
    left: 550px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #9563FF;
}

.input-form-Expiry {
    background: #EEEEEE;
    border-bottom: 1px solid #9563FF;
    border-radius: 10px;
    width: 283px;
    height: 67px;
    display: block;
    margin-bottom: 41px;
    border: none;
    box-shadow: 0 1px 0 0 #9563FF;
    padding-left: 20px;
    appearance: none;
}

.input-form-CVC {
    display: block;
    background: #EEEEEE;
    border-bottom: 1px solid #9563FF;
    border-radius: 10px;
    width: 150px;
    height: 67px;
    margin-bottom: 41px;
    border: none;
    box-shadow: 0 1px 0 0 #9563FF;
    appearance: none;
}

.input-form::placeholder {
    color: #A175FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;

}

.input-form-CVC::placeholder {
    color: #A175FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;


}

.input-form-Expiry::placeholder {
    color: #A175FF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;


}

#form-btns,
#form-btnr {
    width: 242px;
    height: 66px;
    background: #9563FF;
    border-radius: 10px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 20px;
}

.container-second {
    width: 503px;
    height: 800px;
    display: flex;
    mix-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 100px;
    backdrop-filter: blur(2px);
    background: radial-gradient(circle, rgba(149, 99, 255, 1) 10%, rgba(240, 240, 240, 1) 40%);
    background-position-y: -200px;
}

.container-details {
    width: 503px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 2.875rem;
    position: relative;
    padding-left: 60px;
}



.header-details {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Inter';
    color: #575757;
    width: 161px;
    height: 29px;
    margin-top: 71px;
    padding-left: -40px;
}

.price-details {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
}


.majorProduct-1 {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
}

.majorProduct-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 25px;

}

.discount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 25px;

}

.product1 {
    display: flex;
    flex-direction: column;
    gap: .3125rem;
    margin-bottom: 58px;
}


.margin-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #575757;

}

.price-details-product1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
    margin: 0;
}

.price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
}

.hr-line {
    border-top: #747474;
    margin-top: 77px;
    width: 409.09px;

}

.majorAmout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 41px;
    margin-bottom: 48px;
    padding-right: 25px;
}


i {
    color: seagreen;
}

.Card-Number {
    position: relative;
}

.Expiry-CVC {
    position: relative;
}

#expireMM {
    position: absolute;
    bottom: 65px;
    left: 10px;
    width: 40px;
    height: 20px;
}

#expireYY {
    position: absolute;
    bottom: 65px;
    left: 70px;
    width: 70px;
    height: 20px;

}

.Cardholders-Name {
    position: relative;

}

#name-error {
    position: absolute;
    bottom: 65px;
    left: 600px;
    width: 200px;
    height: 20px;
    color: red;
    text-justify: auto;

}

#card-error {

    position: absolute;
    bottom: 65px;
    left: 600px;
    width: 200px;
    height: 20px;
    color: red;
    text-justify: auto;
}

#Expiry-error {

    position: absolute;
    bottom: 70px;
    left: 250px;
    width: 150px;
    height: 20px;
    color: red;
    text-align: left;
}

#cvc-error {
    position: absolute;
    bottom: 70px;
    left: 600px;
    width: 200px;
    height: 20px;
    color: red;
    text-justify: auto;

}


.validInput {

    box-shadow: 0 1px 0 0 green;
    color: green;
    border: 1px solid green"

}

.invalidInput {

    box-shadow: 0 1px 0 0 rgb(255, 0, 0);
    color: red;
    border: 1px solid red
}


#formContaier {
    display: grid;
    padding-left: 20px;
    grid-template-areas:
        "header container-second"
        "container-form container-second";
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.container-form {
    grid-area: container-form;
    width: 700px;
    height: auto;


}

#header {
    grid-area: header;
    min-width: 700px;

}

.container-second {
    grid-area: container-second;
}

@media screen and (min-width:801px) and (max-width:1400px) {
    #formContaier {

        grid-template-areas:
            "header "
            "container-form"
            "container-second";
        margin-bottom: 20px;
        flex-wrap: wrap;
    }


}


@media screen and (min-width:650px) and (max-width:800px) {
    #formContaier {
        grid-template-areas:
            "header "
            "container-form"
            "container-second";
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .form-description {

        width: 400px;

    }

    .input-form,
    .input-form-Expiry {
        width: 300px;

    }

    .card {
        width: 250px;
    }

    .Expiry-CVC {
        flex-direction: column;
        gap: 0.1125;
    }

    #dicount-1 {
        left: 250px;
        bottom: 45px;
    }

    #card-error,
    #Expiry-error,
    #name-error {
        left: 300px;
    }

    #cvc-error {
        left: 130px;
        top: 165px;
    }

    #Expiry-error {
        top: 30px;
    }
}

@media screen and (min-width:460px) and (max-width:650px) {
    #formContaier {
        grid-template-areas:
            "header "
            "container-form"
            "container-second";
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .form-description {

        width: 370px;
        text-align: start;

    }

    .input-form,
    .input-form-Expiry {
        width: 300px;

    }

    .card {
        width: 250px;
    }

    .Expiry-CVC {
        flex-direction: column;
        gap: 0.1125;
    }

    #dicount-1 {
        left: 250px;
    }

    .container-second {
        width: 400px;
    }

    .container-details {
        padding-left: 0;
        font-size: 1em;
    }

    .majorProduct-1 {
        gap: 1em;
    }

    .majorProduct-2 {
        gap: 1em;
    }

    #form-btns,
    #form-btnr {
        width: 150px;
    }


    #card-error,
    #Expiry-error,
    #name-error {
        left: 300px;
    }

    #cvc-error {
        left: 130px;
        top: 165px;
    }

    #Expiry-error {
        top: 30px;
    }
}